.products {
  padding: 5rem 0;
}
.products h3 {
  font-size: 24px;
  text-align: center;
}
.products .swiper {
  max-width: 1235px;
  margin: 0 auto;
  height: 419px;
  display: none;
}

@media (min-width: 992px) {
  .products .swiper {
    display: flex;
  }
  .products .mobilescreen {
    display: none;
  }
}