$red_color: #d63030;
$border_gray: 1px solid #c3c3c3;
$black_color: #000000;
$space_ele: 0.5rem;
$border_radiuse: 10px;

.details__right {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .details__name {
        font-size: 18px;
        color: $black_color;
    }

    .details__rate {
        display: flex;
        gap: 2rem;
        span {
            font-size: 13px;
            color: #aaaaaa;
        }
    }

    .details__price {
        font-size: 31px;
        color: $black_color;
        font-weight: 500;
    }
    .out-of-stock {
        color: $red_color;
        font-size: 12px;
    }

    .in-stock {
        color: #36ba5c;
        font-size: 12px;
    }

    .details__qty {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        span:nth-child(2) {
            font-size: 26px;
        }

        span:nth-child(1),
        span:nth-child(3) {
            border: 1px solid $black_color;
            width: 35px;
            height: 34px;
            font-size: 30px;
            line-height: 29px;
            border-radius: 18px;
            text-align: center;
            cursor: pointer;
        }
    }

    .details__paymentsystem {
        padding: 1rem 0;
        span {
            border: $border_gray;
            width: 12rem;
            height: 82px;
            margin-right: $space_ele;
            padding: 18px;
            border-radius: $border_radiuse;
            color: $black_color;
            font-weight: 500;
            cursor: pointer;
        }

        span:nth-child(1) {
            color: #c3c3c3;
        }
    }
    .details__bank {
        img {
            border: 1px solid #c3c3c3;
            margin-right: $space_ele;
            padding: 18px;
            border-radius: $border_radiuse;
            cursor: pointer;
        }
    }

    .details__memory__content {
        display: flex;
        gap: $space_ele;
        div:nth-child(1) {
            border: 1px solid $black_color;
            color: $black_color;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: $space_ele;
            border: $border_gray;
            border-radius: $border_radiuse;
            width: 115px;
            height: 82px;
            color: #aaaaaa;
            font-weight: 700;
            cursor: pointer;
        }
    }

    .details__color__content {
        display: flex;
        gap: $space_ele;

        div:nth-child(2) {
            border: 1px solid $black_color;
            color: $black_color;
            span:nth-child(2) {
                background: #90bad1;
            }
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: $space_ele;
            border: 1px solid #707070;
            border-radius: $border_radiuse;
            width: 115px;
            height: 82px;
            color: #aaaaaa;
            font-weight: 700;
            font-size: 15px;
            cursor: pointer;

            span:nth-child(2) {
                border: 1px solid $black_color;
                width: 37px;
                height: 36px;
                background: #ededed;

                border-radius: 18px;
            }
        }
    }
    .details__insurance__content {
        display: flex;
        gap: $space_ele;

        div:nth-child(2) {
            border: 1px solid $black_color;
            color: $black_color;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: $space_ele;
            border: $border_gray;
            border-radius: $border_radiuse;
            width: 115px;
            height: 82px;
            color: $black_color;
            font-weight: 700;
            cursor: pointer;
        }
    }
    button {
        max-width: 475px;
        height: 50px;
        border-radius: $border_radiuse;
        background: $black_color;
        color: #ffffff;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .blueBtn {
        background: #0d4eb7;
    }
    .blueprice {
        color: #0d4eb7;
        font-size: 31px;
        font-weight: 500;
    }
    .details__info {
        div {
            font-size: 13px;
            color: #6f6f6f;
            margin-bottom: $space_ele;

            img {
                width: 19.6px;
                height: 19.6px;
            }
            span {
                margin-left: $space_ele;
            }
        }
    }
}

@media (max-width: 992px) {
    .details__right {
        margin-top: 2rem;

        .details__bank {
            img {
                border: 1px solid #c3c3c3;
                margin-right: $space_ele;
                padding: 18px;
                border-radius: $border_radiuse;
                width: 52.28px;
            }
        }

        button {
            width: 336.17px;
            height: 35.39px;
        }

        .details__info {
            div {
                font-size: 8px;

                img {
                    width: 13.87px;
                    height: 13.87px;
                }
            }
        }
    }
}
