nav {
  background: #1c1c1c;
}
nav .nav__content {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  max-width: 1200px;
  height: 88px;
  margin: 0 auto;
  padding: 0 2rem;
}
nav .nav__content .nav__list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
}
nav .nav__content .nav__list ul li {
  color: #ffffff;
}
nav .nav__content .nav__list ul li:hover {
  cursor: pointer;
}
nav .nav__content .nav__icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 2rem;
}
nav .nav__content .nav__icons a {
  color: #ffffff;
}
nav .nav__content .nav__menu {
  display: none;
  color: #ffffff;
}

@media (max-width: 1100px) {
  nav .nav__content .nav__menu {
    display: flex;
    font-size: 30px;
    cursor: pointer;
  }
  nav .nav__content .nav__list {
    display: none;
  }
  nav .nav__content .nav__icons {
    display: none;
  }
}